<p><strong>You can add products to only your shop<strong></p>
<%= form_with model: @businessproduct do |form| %>

    <%= form.label :"Business name" %> 
    <%= form.text_field :business_name%><br>
    <%= form.label :"Product's name" %> 
    <%= form.text_field :name%><br>
    <%= form.label :"Product's brand"%> 
    <%= form.text_field :brand%><br>
    <%= form.label :"Product's price"%> 
    <%= form.number_field :price, step: :any, placeholder: "00.00"%><br>
    <%= form.submit%>
<%end%>

 