<%= (link_to "make new entry", new_business_path) if (current_user.role == "secretary")%><br><br>

<% @businesses.each do |business|%> 
    <p><b>Business name:</b> 
    <%if business.user_id == current_user.id%>
        <%= link_to business.name, business%>
    <%else%>
        <%=business.name%></p>
    <%end%>
    <p><b>Number:</b> <%=  business.email %></p>
    <% business.images.each do |i|%>
    <%= image_tag(i, style: "width: 300px; height: auto")%>
    <%end%><br><br>

<%end%> 

