<p><b> name:</b> <%= @business.name%></p> 
<p><b>email:</b> <%= @business.email%></p>
<p><b>contact_number :</b> <%= @business.contact_number%></p>
<p><b>address:</b> <%= @business.address%></p>
<p><b>owner_username:</b> <%= @business.owner_username%></p>
<p><b>user id:</b> <%= @business.user_id%></p>

<% @business.images.each do |i|%>
    <%= image_tag(i, style: "width: 300px; height: auto")%>
<%end%>
<%if @business.user_id == current_user.id%>
    <%= link_to "edit", edit_business_path%>
    <%= button_to "Delete", business_path, method: :delete %>
<%end %>