<%= link_to "make new entry", new_event_path%><br><br>


<% @events.each do |event|%> 
    <%= event.user.username%>
    <p><b>Event name:</b> 
   	 <%= link_to event.event_name, event%>
    <p><b>Caption:</b> <%=  event.caption %></p>
    <% event.images.each do |i|%>
    <%= image_tag(i, style: "width: 300px; height: auto")%>
    <%end%>
<%end%> 

