<p><b>Event name:</b> <%= @event.event_name%></p>

<p><b>Caption:</b> <%= @event.caption%></p>

<% @event.images.each do |i|%>
    <%= image_tag(i, style: "width: 300px; height: auto")%>
<%end%>



<%= link_to "edit", edit_event_path%>
<%= link_to "delete", event_path, data: {turbo_method: :delete, turbo_confirm: "This will delete the entry?"}%> 