<%= link_to "Make New Entry", new_broadcast_path, class: "new-entry-link" if current_user.secretary? %><br><br>

<!DOCTYPE html>
<html>
<body>
  <h2>Broadcasts</h2><small>Society members recieve a mail with the broadcast everytime it is made or updated.</small>
  
  <table class="broadcasts-table">
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Heading</th>
      <th>Message</th>
    </tr>

    <% @broadcasts.each do |broadcast| %>
    <tr>
      <td><%= broadcast.created_at.to_date %></td>
      <td><%= broadcast.created_at.in_time_zone('New Delhi').strftime('%I:%M %p') %></td>
      <td>
        <%= broadcast.heading %>
        <%if current_user.secretary?%>
          <%= link_to "Edit", edit_broadcast_path(broadcast) %>
          <%= button_to "Delete", broadcast_path(broadcast), method: :delete, class: "delete-button" %>
        <%end%>
      </td>
      <td><%= broadcast.body %></td>
    </tr>
    <% end %>
  </table>
</body>
</html>
