<%= link_to "Make New Entry", new_broadcast_path, class: "new-entry-link" if current_user.secretary? %><br><br>

<!DOCTYPE html>
<html>
<head>
  <title>Broadcasts</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-4">
    <h2>Broadcasts</h2>
    <small>Society members receive a mail with the broadcast every time it is made or updated.</small>
  
    <div class="row mt-3">
      <% @broadcasts.each do |broadcast| %>
        <div class="col-md-6">
          <div class="card mb-3">
            <div class="card-header">
              <%= broadcast.created_at.to_date %>
              <span class="float-right"><%= broadcast.created_at.in_time_zone('New Delhi').strftime('%I:%M %p') %></span>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= broadcast.heading %></h5>
              <p class="card-text"><%= broadcast.body %></p>
            </div>
            <% if current_user.secretary? %>
              <div class="card-footer">
                <%= link_to "Edit", edit_broadcast_path(broadcast), class: "btn btn-primary btn-sm mr-2" %>
                <%= button_to "Delete", broadcast_path(broadcast), method: :delete, class: "btn btn-danger btn-sm", data: { confirm: 'Are you sure you want to delete this broadcast?' } %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</body>
</html>
