<%= link_to "Make New Entry", new_local_authority_path, class: "new-entry-link" if current_user.secretary? %><br><br>

<!DOCTYPE html>
<html>
<head>
  <title>Local Authorities</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .btn-sos {
      background-color: #FF0000; 
      color: #FFFFFF; 
      border-color: #FF0000;
    }
  </style>
</head>
<body>
  <div class="container mt-4">
    <h2>Local Authorities</h2>
    <div class="row mt-3">
      <% @local_authorities.each do |authority| %>
        <div class="col-md-4">
          <div class="card mb-3">
            <div class="card-header">
              <%= authority.department %>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= link_to authority.name, authority %></h5>
              <p class="card-text">Email: <%= authority.email %></p>
            </div>
            <div class="card-footer">
              <%= button_to 'SOS', sos_path, method: :post, params: { email: authority.email }, class: "btn btn-sos btn-sm" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</body>
</html>
