<!DOCTYPE html>
<html>
  <head>
    <title>SocialVillage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="topnav">
        <a class="active">LuxeLiving</a>
        <a href="#home">Home</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
        <a href="#news">News</a>
</div>
    <%= yield %>
  </body>
</html>
